In [1]:
from adder import add
value = add(2,2)
print(value)

4

In [1]:
import sqlite3

In [3]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "SELECT datetime('now', 'localtime');"
    time = cursor.execute(query).fetchone()[0]

In [4]:
time

'2023-01-02 19:32:14'

In [5]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("""
        CREATE TABLE People(FirstName TEXT, LastName TEXT, Age INT);
    """)
    cursor.execute("""
        INSERT INTO People  (FirstName, LastName , Age) VALUES('RON','OBVIOUS','42');
    """)

In [6]:
people_values = (
    ('Luigi', 'Vercotti', 43),
    ('Yadira', 'Shany', 4),
    ('Justice','Chyna',32),
    ('Legros','Gerry',44)
)

In [7]:
cursor.executemany("INSERT INTO People VALUES(?,?,?)", people_values)

In [9]:
cursor.executescript("""
    INSERT INTO People VALUES('Shana','Feil',23),
    ('Thiel','Kilback', 23),
    ('London','Fritsch', 45),
    ('Kiana','Mitchel', 33);
""")

In [8]:
import sqlite3

# Get person data from user
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
age = int(input("Enter your age:"))
data = (first_name,last_name,age)

# Execute insert statement for supplied person data
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute(
        f"INSERT INTO people Values (?,?,?)",data
        );

In [10]:
cursor.execute(
    "UPDATE People SET Age=? WHERE FirstName=? AND LastName=?;",
    (45,'Luigi','Vercotti')
)

In [11]:
cursor.execute(
    "SELECT FirstName, LastName from People where Age = 45;"
)

for row in cursor.fetchall():
    print(row)

('Luigi', 'Vercotti')
('London', 'Fritsch')

In [23]:
import sqlite3



with sqlite3.connect('schedule.db') as connection:
    cursor = connection.cursor()
    cursor.execute(
        """CREATE TABLE Roster
        (
            Name TEXT,
            Species TEXT,
            IQ INT
        );
            """
    )
    data = (
    ("Jean-Baptiste Zorg", "Human", 122),
    ("Korben Dallas", "Meat Popsicle", 100),
    ("Ak'not", "Mangalore", -5)
    )

    cursor.executemany("INSERT INTO Roster VALUES(?,?,?)", data)

In [25]:
cursor.execute(
    """
    UPDATE Roster SET Species = 'Human' where Name = 'Korben Dallas';
    """
)

In [26]:
results = cursor.execute(
    """
    SELECT Name, IQ FROM Roster where Species = 'Human';
    """
)

for row in results:
    print(row)

('Jean-Baptiste Zorg', 122)
('Korben Dallas', 100)