In [1]:
from adder import add
value = add(2,2)
print(value)

4

In [1]:
import sqlite3

In [3]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "SELECT datetime('now', 'localtime');"
    time = cursor.execute(query).fetchone()[0]

In [4]:
time

'2023-01-02 19:32:14'

In [5]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("""
        CREATE TABLE People(FirstName TEXT, LastName TEXT, Age INT);
    """)
    cursor.execute("""
        INSERT INTO People  (FirstName, LastName , Age) VALUES('RON','OBVIOUS','42');
    """)

In [6]:
people_values = (
    ('Luigi', 'Vercotti', 43),
    ('Yadira', 'Shany', 4),
    ('Justice','Chyna',32),
    ('Legros','Gerry',44)
)

In [7]:
cursor.executemany("INSERT INTO People VALUES(?,?,?)", people_values)

In [9]:
cursor.executescript("""
    INSERT INTO People VALUES('Shana','Feil',23),
    ('Thiel','Kilback', 23),
    ('London','Fritsch', 45),
    ('Kiana','Mitchel', 33);
""")