In [1]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

In [2]:
# create a company name and information
company_name = "Coding temple, inc."
company_address = '283 Franklin, inc.'
company_city = "Boston, MA"

In [3]:
# declare ending message
message = "Thanks for shopping with us today!"

In [17]:
# create a top border
print("*" * 50)

# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
print("="* 50)

# print out header for section of items
print("\tProduct Name\tProduct Price")
# create a print statement for each product
print(f"\t{p1_name.title()}\t\t${p1_price}")
print(f"\t{p2_name.title()}\t${p2_price}")
print(f"\t{p3_name.title()}\t\t${p3_price}")


# print a line between sections
print('=' * 50)

# print out header for section of total
print("\t\t\tTotal")
# calculate total price and print out
total = p1_price + p2_price + p3_price
print(f"\t\t\t${total}")
#print a line between sections
print("=" * 50)
#output thank you message
print(f"\n\t{message}")
# create a bottom border
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin, inc.
		Boston, MA
==================================================
	Product Name	Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks fdor shopping with us today!
**************************************************

In [1]:
print(input("What is your name?"))

holland

In [1]:
def output(name, *args):
    print(type(args))
    for arg in args:
        print(arg)

In [2]:
output("Joe Jane",5, True,"Jesse", 3.14)

<class 'tuple'>
5
True
Jesse
3.14

In [3]:
def outputData(**kwargs):
    print(type(kwargs))
    print(kwargs["name"])
    print(kwargs["num"])
    print(kwargs["b"])

In [4]:
outputData(name="John Smith", num = 5, b = True)

<class 'dict'>
John Smith
5
True

In [9]:
ans = input("Please enter a word?")

def startWiths(ans):
    if ans[0] == ans[0].upper():
        print("True")
    else:
        print("False")

In [10]:
startWiths(ans)

True

In [8]:
"h".upper()

'H'

In [1]:
sports = ["baseball","football",'hockey',"basketball"]

In [2]:
def change(aList):
    aList[0] = "soccer"

In [3]:
print("Before Altering: {}".format(sports))
change(sports)
print("After Altering: {}".format(sports))

Before Altering: ['baseball', 'football', 'hockey', 'basketball']
After Altering: ['soccer', 'football', 'hockey', 'basketball']

In [4]:
def changeValue(aList,name,index):
    aList[index] = name

In [5]:
names = ['Bob', 'Rich', "Amanda"]

In [6]:
changeValue(names,"Bill",1)

In [7]:
names

['Bob', 'Bill', 'Amanda']